/* font-family: 'Blinker', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */ 
img {
    display: block;
    max-width: 100%;
}
.card-img {
    object-fit: cover;
    flex-basis: 200px;
}
.card-content {
    padding: 1em;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
}
.card {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    background: #111d4a;
    color: #fff;
}

.card-heading,
.card-read-time,
.card-bt {
    font-family: "Blinker", sans-serif; 
}
.card-heading {
    font-family: "Blinker", sans-serif; 
    font-size: 1.75rem;
    color: #05CBE9;
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}
.card-body {
    font-family: "Source Sans Pro", sans-serif;
}

.card-btn {
    font-size: 1.25rem;
    background: #05CBE9;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: .35em 1em;
}

.card-read-time {
    margin: 0;
    font-size: 16px;
    opacity: 0.6;
    line-height: 1;
}

.card-read-time span {
    font-weight: 700;
    font-size: 1.25em;
    display: block;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    .card-img {
        height: 300px;
    }
}